
<h1>{{question.question_text}}</h1>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}


{% if question.choice_set %}
  <form action="{% url 'polls:vote' question.pk %} method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}"
      value="{{choice.pk}}">
      <label for="choice{{ forloop.counter }}"> {{choice.choice_text}}</label>
      <br>
    {% endfor %}
    <input type="submit" value="Cast Your Vote">
  </form>
{% else %}
  <p>This question doesn't have any choices yet!</p>
{% endif %}
