
<h1>Latest 5 Questions</h1>
{% if latest_question_list %}
  <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question_pk=question.pk %}">
        {{ question.question_text }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}

<br>

<div>
  <h2>Links</h2>
  <ul>
    <li><a href="{% url 'polls:index' %}">Index</a></li>
    <li><a href="{% url 'polls:questions_list' %}">List of All Questions</a></li>
    <li><a href="{% url 'polls:questions_list_include_empty' %}">List of All Questions (including ones without text)</a></li>
    <li><a href="{% url 'polls:load_polls' %}">Populate Database With JSON Data</a></li>
  </ul>

</div>
